.envrc
.ruby-version
.ruby-gemset
.direnv
Gemfile.lock
inspec.lock
.kitchen
*.code-workspace
*.plan
*.tfstate*
local
.vscode
.terraform
*.idea*
*.env
*inspec-*.tfvars
*-inspec-attributes.yaml
*inspec-output*
/Gemfile.local
.aws

inspec-aws.tfvars.*
vendor
.bundle
.rakeTaskscoverage/*
coverage

.DS_Store
