# Documentation available at https://expeditor.chef.io/docs/getting-started/
---
project:
  alias: inspec-aws

slack:
 notify_channel: inspec-notify

pipelines:
 - verify:
    description: Pull Request validation tests
    public: true
 - coverage:
    description: Unit Test Coverage tests
    # private due to need for tokens
    trigger: pull_request
 - verify/private:
    description: Pull Request validation tests
    definition: .expeditor/verify.pipeline.yml

github:
 delete_branch_on_merge: true
 minor_bump_labels:
  - "Version: Bump Minor"
 version_tag_format: v{{version}}

release_branches:
  - main

changelog:
 categories:
  - "Type: New Resource": "New Resources"
  - "Type: New Feature": "New Features"
  - "Type: Enhancement": "Enhancements"
  - "Type: Bug": "Bug Fixes"

subscriptions:
  - workload: pull_request_merged:{{github_repo}}:{{release_branch}}:*
    actions:
      - built_in:bump_version:
          ignore_labels:
            - "Version: Skip Bump"
            - "Expeditor: Skip All"
      - bash:.expeditor/update_version.sh:
          only_if: built_in:bump_version
      - built_in:update_changelog:
          ignore_labels:
           - "Changelog: Skip Update"
           - "Expeditor: Skip All"
